/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #732929;
  color: rgb(228, 142, 13);
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 25px;
  font-size: 42px; 
  font-weight: bold;
  z-index: 1000;
}

/* MAIN CONTAINER */
.main-container {
  display: flex;
  flex-direction: column; /* stack vertically */
  padding: 120px 100px 100px 100px; /* space under header */
  gap: 40px;
}

/* MOTTO */
.motto {
  padding-left: 180px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: rgb(228, 142, 13);
  width: 100%;
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

/* LEFT VIDEO */
.video-section {
  flex: 10; /* make video section bigger than AI panel */
  display: flex;
  padding-right: 10px;
  justify-content: center;
}

.video-feed {
  width: 100%;
  max-width: 900px; 
  height: 400px;
  border-radius: 12px;
  border: 10px solid #f8f4f4;
  box-shadow: 0 8px 52px rgba(115, 41, 41, 0.4),
              0 0 50px rgba(228, 142, 13, 0.2);
  object-fit: cover; /* keep aspect ratio */
}



.ai-section {
  flex: 1;
  background: #111;
  padding: 20px;
  border-radius: 12px;
  color: white;
  min-height: 600px; 
}



.ai-section h2 {
  color: rgb(228, 142, 13);
  margin-bottom: 15px;
}

.ai-box {
  background: #1c1c1c;
  padding: 20px;
  border: 5px #f8f4f4;
  border-radius: 20px;
  font-size: 18px;
  width: 800px;
  
}


body {
  background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
